* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

.navbar {
    background-color: rgba(25, 78, 161, 0.9);
    transition: top 0.3s;
    height: 120px;
}

/* When scrolling, the navbar becomes a normal block */
.navbar-scrolled {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1030;
}

/* Navbar styles */



/* When scrolling, the navbar becomes a normal block */
.navbar-scrolled {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1030;
}

/* Add some padding and spacing for the rest of the content */


/* Add some padding and spacing for the rest of the content */
.navbar .nav-link.active {
    border-bottom: 2px solid white;
    /* إضافة خط أبيض تحت الرابط */
}

.footer {
    width: 100%;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer .nav-link.active {
    border-bottom: 2px solid white;
}

.footer .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar .container .navbar-brand img {
    height: 57px;
    width: 170px;
}

.services-section {
    padding: 40px 20px;
    text-align: left;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.services-content {
    max-width: 800px;
}

.card {
    border: none;
    box-shadow: none;
}

.card-img-top {
    width: 300px;
    border: 1px;
    border-radius: 0;
    height: 300px;
    object-fit: cover;
}

.card {
    border: none;
    box-shadow: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
}

.card-text {
    margin-bottom: 1rem;
}




.h3-p {
    flex: 1;
}

@media (max-width: 768px) {
    .h3-p h3 {
        font-size: 1.5rem;
    }

    .h3-p p {
        font-size: 0.875rem;
    }
}

.h3-p {
    padding: 20px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .h3-p h3 {
        font-size: 1.25rem;
    }

    .h3-p p {
        font-size: 0.75rem;
        line-height: 1.5;
    }
}

.custom-background {
    background-size: cover;
    padding: 40px 0;
}

.services-section {
    padding: 40px 0;
    border-radius: 10px;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.custom-img {
    width: 100%;
    height: 150px;
    opacity: 0.9;
    object-fit: cover;
    background-image: linear-gradient(rgba(56, 56, 56, 0.79), rgba(56, 56, 56, 0.79)), url('img/image\ \(4\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45% 87%;
    background-attachment: scroll;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
}

.card-text {
    margin-bottom: 1rem;
}

.container {
    padding: 0 15px;
}

.h3-p {
    flex: 1;
}

@media (max-width: 768px) {
    .h3-p h3 {
        font-size: 1.5rem;
    }

    .h3-p p {
        font-size: 0.875rem;
    }
}

.h3-p {
    padding: 20px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .h3-p h3 {
        font-size: 1.25rem;
    }

    .h3-p p {
        font-size: 0.75rem;
        line-height: 1.5;
    }
}

.custom-background {
    background-size: cover;
    padding: 40px 0;
}

.services-section {
    padding: 40px 0;
    border-radius: 10px;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.custom-img {
    width: 100%;
    height: 150px;
    opacity: 0.9;
    object-fit: cover;
    background-image: linear-gradient(rgba(56, 56, 56, 0.79), rgba(56, 56, 56, 0.78)), url('img/imagenews.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-attachment: scroll;
}

.h3-p {
    margin-top: 40px;
}

@media (max-width: 768px) {
    .h3-p h3 {
        font-size: 1.5rem;
    }

    .h3-p p {
        font-size: 0.875rem;
    }
}

.h3-p {
    margin-top: 10px;
    padding: 10px 0;
}

@media (max-width: 576px) {
    .h3-p h3 {
        font-size: 1.25rem;
    }

    .h3-p p {
        font-size: 0.75rem;
        line-height: 1.5;
    }
}

.container .sup .img-fluid {
    width: 1000px;
    height: 200xpx;
}

.container .sup {
    margin: auto;
    width: 70%;
}

/* .container .sup p {
    padding: 30px 0;
} */

.footer .img-footer {
    text-align: center;
    display: flex;
    justify-content: center;
}

.my-3 {
    font-family: sans-serif;
}

.my-6 {
    font-family: sans-serif;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa;
}

/* تخصيص الـ Logo */
.navbar-brand img {
    height: 40px;
}

/* تغيير حجم النص على الشاشات الصغيرة */
@media only screen and (max-width: 576px) {
    header h1 {
        font-size: 4rem;
    }
}

.navbar .nav-link.active {
    border-bottom: 2px solid white;
    /* إضافة خط أبيض تحت الرابط */
}

.section-main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.section-main h1 {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.5);
}

.section-two {
    min-height: 100vh;
    background: #222;
    padding: 20px 100px;
}

.section-two h2 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0;
    color: rgba(255, 255, 255, 0.8);
}

.section-two p {
    font-size: 18px;
    margin: 30px 0;
    color: rgba(255, 255, 255, 0.5);
}


.custom-img {
    width: 100%;
    height: 200px;
    opacity: 0.7;
    object-fit: cover;
    background-image: linear-gradient(rgba(56, 56, 56, 0.79), rgba(56, 56, 56, 0.79)), url('img/image (4).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45% 87%;
    background-attachment: scroll;

}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.footer .img-footer {
    text-align: center;
    display: flex;
    justify-content: center;
}

.container-img-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-img-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.container-img-text img {
    width: 400px;
    height: 300px;
    margin-right: 20px;
}

.container-img-text p {
    font-size: 0.9em;
    line-height: 1.5;
    text-align: left;
    margin: 0;
}

@media (max-width: 1024px) {
    .container-img-text {
        display: flex;
        flex-direction: column;
        /* ترتيب عمودي */
        align-items: center;
        /* محاذاة العناصر في الوسط */
    }

    .container-img-text img {
        width: 80%;
        /* عرض الصورة 100% */
        height: auto;
        /* الحفاظ على نسب الصورة */
        margin-bottom: 20px;
        /* إضافة مسافة بين الصورة والنص */
    }

    .container-img-text p {
        font-size: 1em;
        /* تعديل حجم الخط ليتناسب مع الأجهزة الصغيرة */
        text-align: center;
        /* جعل النص في الوسط */
    }
}

@media (max-width: 1024px) {

    /* تعديل عرض الصور لتناسب الشاشات الصغيرة */
    .container img {
        width: 100%;
        /* جعل الصورة تأخذ عرض الحاوية بالكامل */
        height: auto;
        /* الحفاظ على نسبة العرض إلى الارتفاع */
    }

    /* تغيير حجم النص داخل الفقرة */
    .sup p {
        font-size: 14px;
        /* تقليل حجم الخط على الشاشات الصغيرة */
        width: 100%;
        /* عرض النص يأخذ العرض الكامل */
        text-align: center;
        /* محاذاة النص في الوسط */
        padding: 0 10px;
        /* إضافة مساحة حول النص لتجنب التقيد بالأطراف */
    }

    /* تعديل عنوان h3 ليكون أصغر */
    .h3-p {
        font-size: 20px;
        /* تقليل حجم النص للعناوين */
    }

    /* تعديل عرض الحاوية لتكون أكثر توافقًا مع الشاشات الصغيرة */
    .sup {
        width: 100%;
        /* جعل عرض الحاوية 100% */
        margin: 0 auto;
        /* محاذاة الحاوية في المنتصف */
        padding: 10px;
        /* إضافة مسافة داخلية */
    }

    /* لتقليل عرض الفقرات في الحاويات الأخرى */
    .container>div {
        width: 100%;
        /* جعل كل الحاويات تأخذ العرض بالكامل */
        padding: 10px;
        /* إضافة بعض المساحة الداخلية */
    }
}